body{
    background-color: aqua;
}
#insta
{
font-family: cursive;
font-size: large;

}
#youtube
{
font-family: cursive;
}
#inst{
    border-radius: 20%;
}
#you{
    border-radius: 20%;
}
